[
    {
        "NAME":                             "edge_device_A00221",
        "PRIORITY":                         2,
        "RW_MODE":                          "WRITE",
        "RETRY_COUNT": 3,
        "MEASUREMENTS":[
                        {"POWER_RENEWABLE": 
                            {
                                "DEVICE_ID": "edge_device_A00221",
                                "MODULE_ID": "ElectrolyzerModbusModule",
                                "METHOD_NAME": "write_directmethod"
                            }
                        }
                    ]
        
    }
    
]