[
    {
        "NAME":                             "inverter_fronius",
        "PRIORITY":                         1,
        "RW_MODE":                          "READ",
        "SETUP":
            {
            "MODBUS_IP":					"192.168.103.185",
            "MODBUS_PORT":					502,
            "MODBUS_ID":                    1,
            "MAX_ATTEMPTS":                 3,
            "ENDIAN_BYTEORDER":             "Big",
            "ENDIAN_WORDORDER":             "Big",
            "MODBUS_MEASUREMENTS": [
                {
                    "R_SAMPLING_TIME_MS": 10000,
                    "MEASUREMENTS":[
                        {"POWER_RENEWABLE": {"REGISTER_NUMBER": 40091, "VALUE_TYPE": "FLOAT32", "UOM": "W", "SCALE": 2, "OFFSET": 0}}
                    ]
                }
            ]
        }
    }
    
]
