{
    "MODBUS_MEASUREMENTS": [
        {"CURRENT_DIP_SWITCHES":               {"REGISTER_NUMBER": 100, "VALUE_TYPE": "UINT32", "UOM": "dimensionless"}},
        {"CURRENT_CONFIGURATION_SET":          {"REGISTER_NUMBER": 102, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"DEVICE_IDENTIFIER":                  {"REGISTER_NUMBER": 3000, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"HARDWARE_VERSION":                   {"REGISTER_NUMBER": 3001, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"FIRMWARE_VERSION":                   {"REGISTER_NUMBER": 3028, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},

        {"CONFIGURATION_COUNTER":              {"REGISTER_NUMBER": 5000, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"REGISTER_ORDER":                     {"REGISTER_NUMBER": 5001, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"DATE_LAST_MODIFICATION":             {"REGISTER_NUMBER": 5002, "VALUE_TYPE": "UINT32", "UOM": "dimensionless"}},

        {"MODBUS_ADDRESS_PC":                  {"REGISTER_NUMBER": 5009, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"BAUDRATE_PC":                        {"REGISTER_NUMBER": 5010, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PARITY_STOPBITS_PC":                 {"REGISTER_NUMBER": 5011, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"RESPONSE_DELAY_PC":                  {"REGISTER_NUMBER": 5012, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},

        {"MODBUS_ADDRESS_DIP":                 {"REGISTER_NUMBER": 5019, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"BAUDRATE_DIP":                       {"REGISTER_NUMBER": 5020, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PARITY_STOPBITS_DIP":                {"REGISTER_NUMBER": 5021, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"RESPONSE_DELAY_DIP":                 {"REGISTER_NUMBER": 5022, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},

        {"OPERATING_MODE_CH1":                 {"REGISTER_NUMBER": 2000, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        

        {"OPERATING_MODE_CH2":                 {"REGISTER_NUMBER": 2100, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
    
        
        {"OPERATING_MODE_CH3":                 {"REGISTER_NUMBER": 2200, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        
        
        {"OPERATING_MODE_CH4":                 {"REGISTER_NUMBER": 2300, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        
    ]
}