{
    "MODBUS_MEASUREMENTS": [
        {"CURRENT_DIP_SWITCHES":               {"REGISTER_NUMBER": 100, "VALUE_TYPE": "UINT32", "UOM": "dimensionless"}},
        {"CURRENT_CONFIGURATION_SET":          {"REGISTER_NUMBER": 102, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"DEVICE_IDENTIFIER":                  {"REGISTER_NUMBER": 3000, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"HARDWARE_VERSION":                   {"REGISTER_NUMBER": 3001, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"FIRMWARE_VERSION":                   {"REGISTER_NUMBER": 3028, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},

        {"CONFIGURATION_COUNTER":              {"REGISTER_NUMBER": 5000, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"REGISTER_ORDER":                     {"REGISTER_NUMBER": 5001, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"DATE_LAST_MODIFICATION":             {"REGISTER_NUMBER": 5002, "VALUE_TYPE": "UINT32", "UOM": "dimensionless"}},

        {"MODBUS_ADDRESS_PC":                  {"REGISTER_NUMBER": 5009, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"BAUDRATE_PC":                        {"REGISTER_NUMBER": 5010, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PARITY_STOPBITS_PC":                 {"REGISTER_NUMBER": 5011, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"RESPONSE_DELAY_PC":                  {"REGISTER_NUMBER": 5012, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},

        {"MODBUS_ADDRESS_DIP":                 {"REGISTER_NUMBER": 5019, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"BAUDRATE_DIP":                       {"REGISTER_NUMBER": 5020, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PARITY_STOPBITS_DIP":                {"REGISTER_NUMBER": 5021, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"RESPONSE_DELAY_DIP":                 {"REGISTER_NUMBER": 5022, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},

        {"OPERATING_MODE_CH1":                 {"REGISTER_NUMBER": 2000, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"INPUT_LEVEL_CH1":                    {"REGISTER_NUMBER": 2001, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PULSE_WIDTH_CH1":                    {"REGISTER_NUMBER": 2002, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"CONTACT_TYPE_CH1":                   {"REGISTER_NUMBER": 2011, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MIN_ACTIVATION_TIME_CH1":            {"REGISTER_NUMBER": 2012, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MAX_ACTIVATION_TIME_CH1":            {"REGISTER_NUMBER": 2013, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"ON_DELAY_CH1":                       {"REGISTER_NUMBER": 2014, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"OFF_DELAY_CH1":                      {"REGISTER_NUMBER": 2015, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"STATE_AFTER_POWER_ON_CH1":           {"REGISTER_NUMBER": 2016, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"LIMIT_LOW_CH1":                      {"REGISTER_NUMBER": 2017, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HIGH_CH1":                     {"REGISTER_NUMBER": 2018, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HYSTERESYS_CH1":               {"REGISTER_NUMBER": 2019, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        
        {"OPERATING_MODE_CH2":                 {"REGISTER_NUMBER": 2100, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"INPUT_LEVEL_CH2":                    {"REGISTER_NUMBER": 2101, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PULSE_WIDTH_CH2":                    {"REGISTER_NUMBER": 2102, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"CONTACT_TYPE_CH2":                   {"REGISTER_NUMBER": 2111, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MIN_ACTIVATION_TIME_CH2":            {"REGISTER_NUMBER": 2112, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MAX_ACTIVATION_TIME_CH2":            {"REGISTER_NUMBER": 2113, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"ON_DELAY_CH2":                       {"REGISTER_NUMBER": 2114, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"OFF_DELAY_CH2":                      {"REGISTER_NUMBER": 2115, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"STATE_AFTER_POWER_ON_CH2":           {"REGISTER_NUMBER": 2116, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"LIMIT_LOW_CH2":                      {"REGISTER_NUMBER": 2117, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HIGH_CH2":                     {"REGISTER_NUMBER": 2118, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HYSTERESYS_CH2":               {"REGISTER_NUMBER": 2119, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        
        {"OPERATING_MODE_CH3":                 {"REGISTER_NUMBER": 2200, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"INPUT_LEVEL_CH3":                    {"REGISTER_NUMBER": 2201, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PULSE_WIDTH_CH3":                    {"REGISTER_NUMBER": 2202, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"CONTACT_TYPE_CH3":                   {"REGISTER_NUMBER": 2211, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MIN_ACTIVATION_TIME_CH3":            {"REGISTER_NUMBER": 2212, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MAX_ACTIVATION_TIME_CH3":            {"REGISTER_NUMBER": 2213, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"ON_DELAY_CH3":                       {"REGISTER_NUMBER": 2214, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"OFF_DELAY_CH3":                      {"REGISTER_NUMBER": 2215, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"STATE_AFTER_POWER_ON_CH3":           {"REGISTER_NUMBER": 2216, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"LIMIT_LOW_CH3":                      {"REGISTER_NUMBER": 2217, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HIGH_CH3":                     {"REGISTER_NUMBER": 2218, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HYSTERESYS_CH3":               {"REGISTER_NUMBER": 2219, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        
        {"OPERATING_MODE_CH4":                 {"REGISTER_NUMBER": 2300, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"INPUT_LEVEL_CH4":                    {"REGISTER_NUMBER": 2301, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"PULSE_WIDTH_CH4":                    {"REGISTER_NUMBER": 2302, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"CONTACT_TYPE_CH4":                   {"REGISTER_NUMBER": 2311, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MIN_ACTIVATION_TIME_CH4":            {"REGISTER_NUMBER": 2312, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"MAX_ACTIVATION_TIME_CH4":            {"REGISTER_NUMBER": 2313, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"ON_DELAY_CH4":                       {"REGISTER_NUMBER": 2314, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"OFF_DELAY_CH4":                      {"REGISTER_NUMBER": 2315, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"STATE_AFTER_POWER_ON_CH4":           {"REGISTER_NUMBER": 2316, "VALUE_TYPE": "UINT16", "UOM": "dimensionless"}},
        {"LIMIT_LOW_CH4":                      {"REGISTER_NUMBER": 2317, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HIGH_CH4":                     {"REGISTER_NUMBER": 2318, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"LIMIT_HYSTERESYS_CH4":               {"REGISTER_NUMBER": 2319, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}}
    ]
}