{
    "MODBUS_IP":					  "192.168.0.1",
    "MAX_ATTEMPTS":                   3,
    "ENDIAN_BYTEORDER":               "Big",
    "ENDIAN_WORDORDER":               "Little",
    "MODBUS_MEASUREMENTS": 
        [
            {
                "R_SAMPLING_TIME_MS":1000,
                "MEASUREMENTS": [
                    {"N_INJ_CYCLE": {"REGISTER_NUMBER": 1000, "VALUE_TYPE": "INT32", "UOM": "N"}},
                    {"T_INJ_ON": {"REGISTER_NUMBER": 504, "VALUE_TYPE": "INT16", "UOM": "ms"}},
                    {"T_INJ_PERIOD": {"REGISTER_NUMBER": 506, "VALUE_TYPE": "INT16", "UOM": "ms"}},
                    {"PRESS_SENSOR_UP_CURR": {"REGISTER_NUMBER": 1012, "VALUE_TYPE": "INT16", "UOM": "microA"}},
                    {"PRESS_SENSOR_UP_BAR": {"REGISTER_NUMBER": 2028, "VALUE_TYPE": "FLOAT32", "UOM": "mbar"}}
                ]
            }
        ]
}
