{
    "MODBUS_IP":					  "10.16.180.1",
    "MODBUS_PORT":					  666,
    "MODBUS_ID":                      3,
    "MAX_ATTEMPTS":                   3,
    "ENDIAN_BYTEORDER":               "Big",
    "ENDIAN_WORDORDER":               "Big",
    "MODBUS_MEASUREMENTS": 
        [
        "GROUP_1":
            {
                "R_SAMPLING_TIME_MS":             100,
                "MEASUREMENTS": 
                [
                {"Alta_Pressione_Storage_NON_Recuperata": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT0LOW", "UOM": "bit"}},
                {"SensoreGuasto_PS-2": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT1LOW", "UOM": "bit"}},
                {"Perdita_Storage": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT2LOW", "UOM": "bit"}},
                {"Deriva_Storage": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT3LOW", "UOM": "bit"}},
                {"NodProfinetMFC1": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT4LOW", "UOM": "bit"}},
                {"FeedbackMFC-1": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT5LOW", "UOM": "bit"}},
                {"NodProfinetMFC2": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT6LOW", "UOM": "bit"}},
                {"FeedbackMFC-2": {"REGISTER_NUMBER": 0, "VALUE_TYPE": "BIT7LOW", "UOM": "bit"}},
                
                
                
                {"Bassa_Pressione_Storage_Raggiunta": {"REGISTER_NUMBER": 2, "VALUE_TYPE": "BIT0LOW", "UOM": "bit"}},
                {"Alta_Pressione_Storage_Raggiunta": {"REGISTER_NUMBER": 2, "VALUE_TYPE": "BIT1LOW", "UOM": "bit"}},
                {"SensoreGuasto_SEN": {"REGISTER_NUMBER": 2, "VALUE_TYPE": "BIT2LOW", "UOM": "bit"}},
                {"SensoreGuasto_PS-1": {"REGISTER_NUMBER": 2, "VALUE_TYPE": "BIT3LOW", "UOM": "bit"}},
                {"SensoreGuasto_MFM-1": {"REGISTER_NUMBER": 2, "VALUE_TYPE": "BIT4LOW", "UOM": "bit"}},
                
                
                
                {"ResetAllarmi": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT0LOW", "UOM": "bit"}},
                {"AvviaIniezione": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT1LOW", "UOM": "bit"}},
                {"BloccaIniezione": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT2LOW", "UOM": "bit"}},
                {"ScriviOra": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT3LOW", "UOM": "bit"}},
                {"DisabilitaFiltroPortata": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT4LOW", "UOM": "bit"}},
                {"DisabilitaFiltroPressione": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT5LOW", "UOM": "bit"}},
                {"DisabilitaFiltroPressioneStorage": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT6LOW", "UOM": "bit"}},
                {"DisabilitaFiltroMetano": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT7LOW", "UOM": "bit"}},
                {"PortataImpulsiva_or_Analogica": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT0HIGH", "UOM": "bit"}},
                {"ResetCounterImpulsiva": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT1HIGH", "UOM": "bit"}},
                {"ResetTotalizzatori": {"REGISTER_NUMBER": 4, "VALUE_TYPE": "BIT2HIGH", "UOM": "bit"}},
                
                
                {"EV_chiuse": {"REGISTER_NUMBER": 150, "VALUE_TYPE": "BIT0LOW", "UOM": "bit"}},
                {"MFC_Zero": {"REGISTER_NUMBER": 150, "VALUE_TYPE": "BIT1LOW", "UOM": "bit"}},
                {"NessunAllarme": {"REGISTER_NUMBER": 150, "VALUE_TYPE": "BIT2LOW", "UOM": "bit"}},
                
                
                
                
                
                {"ContatorePStorageBassaPressione": {"REGISTER_NUMBER": 187, "VALUE_TYPE": "INT16", "UOM": "bar"}},
                
                
                
                {"PortataRemiAnalogica": {"REGISTER_NUMBER": 200, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"PortataRemiDigitale": {"REGISTER_NUMBER": 202, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"PortataGasRemi": {"REGISTER_NUMBER": 204, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"PressioneRemi": {"REGISTER_NUMBER": 206, "VALUE_TYPE": "FLOAT32", "UOM": "bar"}},
                {"PressioneStorage": {"REGISTER_NUMBER": 208, "VALUE_TYPE": "FLOAT32", "UOM": "bar"}},
                {"MetAno": {"REGISTER_NUMBER": 210, "VALUE_TYPE": "FLOAT32", "UOM": "percentage"}},
                {"Portata_Metano_Iniettata": {"REGISTER_NUMBER": 212, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"FeedbackSetPointPortata_Iniettata": {"REGISTER_NUMBER": 214, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"Portata_Metano_Prodotta": {"REGISTER_NUMBER": 216, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"FeedbackSetPointPortata_Prodotta": {"REGISTER_NUMBER": 218, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"TenoreMetanoCalcolato": {"REGISTER_NUMBER": 220, "VALUE_TYPE": "FLOAT32", "UOM": "percentage"}},
                {"CaricoProduzione": {"REGISTER_NUMBER": 222, "VALUE_TYPE": "FLOAT32", "UOM": "percentage"}},
                {"CostanteTempoStorage": {"REGISTER_NUMBER": 224, "VALUE_TYPE": "FLOAT32", "UOM": "s"}},
                {"Out_Pid": {"REGISTER_NUMBER": 226, "VALUE_TYPE": "FLOAT32", "UOM": "Bar"}},
                {"PortataMinProducibile": {"REGISTER_NUMBER": 228, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
                {"StatoImpianto": {"REGISTER_NUMBER": 230, "VALUE_TYPE": "INT16", "UOM": "status"}},
                
                
                
                
                
                
                {"StatoRUN_Stand-By": {"REGISTER_NUMBER": 250, "VALUE_TYPE": "BIT0LOW", "UOM": "bit"}},
                {"StatoRUN_AltaPortata": {"REGISTER_NUMBER": 250, "VALUE_TYPE": "BIT1LOW", "UOM": "bit"}},
                {"StatoRUN_Proporzionale": {"REGISTER_NUMBER": 250, "VALUE_TYPE": "BIT2LOW", "UOM": "bit"}},
                {"StatoRUN_Isteresi": {"REGISTER_NUMBER": 250, "VALUE_TYPE": "BIT3LOW", "UOM": "bit"}},
                {"Bassa_Pressione_Storage_Recuperata": {"REGISTER_NUMBER": 250, "VALUE_TYPE": "BIT4LOW", "UOM": "bit"}},
                {"Alta_Pressione_Storage_Recuperata": {"REGISTER_NUMBER": 250, "VALUE_TYPE": "BIT5LOW", "UOM": "bit"}},
                {"Nessuna_Perdita_Storage_Rilevata": {"REGISTER_NUMBER": 250, "VALUE_TYPE": "BIT6LOW", "UOM": "bit"}}
                
                ]
            }
        ]
}
