{
    "INFLUXDB":	{"HOST":"172.17.0.1", "PORT":8086, "DATABASE" : "sandonato_ingrid_test", "USERNAME" : "root", "PASSWORD" : "root"},
    "MSSQLDB": {"SERVER": "greta-simulation.database.windows.net", 
                "DATABASE": "regasphere_dev",
                "USERNAME": "rose_reader@greta-simulation",
                "PASSWORD": "suguc88hHjk57wsGPVeM",
                "DATA_SOURCE": "vw_sensors_data",
                "MACHINE_TWIN": "sandonato_ingrid_certosa"
                }
}
