[
    {
        "NAME":                             "inverter_fronius_fotovoltaico_treviglio",
        "PRIORITY":                         1,
        "RW_MODE":                          "READ",
        "SETUP":
            {
            "MODBUS_IP":					"192.168.103.185",
            "MODBUS_PORT":					502,
            "MODBUS_ID":                    1,
            "MAX_ATTEMPTS":                 3,
            "ENDIAN_BYTEORDER":             "Big",
            "ENDIAN_WORDORDER":             "Big",
            "MODBUS_MEASUREMENTS": [
                {
                    "R_SAMPLING_TIME_MS": 10,
                    "MEASUREMENTS":[
                        {"AC_POWER_VALUE": {"REGISTER_NUMBER": 40091, "VALUE_TYPE": "FLOAT32", "UOM": "W", "SCALE": 2}}
                    ]
                }
            ]
        }
    },
    {
        "NAME":                             "plc_container_edge_device_A00221",
        "PRIORITY":                         2,
        "RW_MODE":                          "WRITE",
        "SETUP":
            {
            "MODBUS_IP":					"10.16.217.1",
            "MODBUS_PORT":					666,
            "MODBUS_ID":                    1,
            "MAX_ATTEMPTS":                 3,
            "ENDIAN_BYTEORDER":             "Big",
            "ENDIAN_WORDORDER":             "Big",
            "MODBUS_MEASUREMENTS": [
                {
                    "MEASUREMENTS":[
                        {"AC_POWER_VALUE": {"REGISTER_NUMBER": 337, "VALUE_TYPE": "FLOAT32", "UOM": "W"}}
                    ]
                }
            ]
        }
    }
]
