{
    "MODBUS_IP":					  "10.16.100.1",
    "MODBUS_PORT":					  502,
    "R_SAMPLING_TIME_MS":             60000,
    "W_SAMPLING_TIME_MS":             60000,
    "MAX_ATTEMPTS":                   3,
    "ENDIAN_BYTEORDER":               "Big",
    "ENDIAN_WORDORDER":               "Little",
    "MODBUS_MEASUREMENTS": [
        {"MASSFLOW": {"REGISTER_NUMBER": 212, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
        {"MASSFLOW_RAW_IMPUSE": {"REGISTER_NUMBER": 3000, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}}
    ]
}
