{
    "MODBUS_MEASUREMENTS": [
        {"ODORANT_SETPOINT_MIN":                             {"REGISTER_NUMBER": 35, "VALUE_TYPE": "INT16", "UOM": "mg/sm3"}},
        {"ODORANT_SETPOINT_MAX":                             {"REGISTER_NUMBER": 36, "VALUE_TYPE": "INT16", "UOM": "mg/sm3"}},
        {"INJECTOR_OPENING_TIME":                            {"REGISTER_NUMBER": 38, "VALUE_TYPE": "INT16", "UOM": "ms"}},
        {"SLOPE_INJECTION":                                  {"REGISTER_NUMBER": 37, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"ODORANT_DENSITY":                                  {"REGISTER_NUMBER": 50, "VALUE_TYPE": "INT16", "UOM": "g/L"}}
    ]
}
