{
    "MODBUS_MEASUREMENTS": [
        {"LEVEL_COUNT":                                 {"REGISTER_NUMBER": 60, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"MASSFLOW_TYPE":                               {"REGISTER_NUMBER": 62, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"AUTO_CYCLE":                                  {"REGISTER_NUMBER": 52, "VALUE_TYPE": "BIT1LOW", "UOM": "status"}},

        {"ODORANT_DENSITY":                             {"REGISTER_NUMBER": 400, "VALUE_TYPE": "FLAOT32", "UOM": "kg/l"}},
        {"ODORANT_TYPE":                                {"REGISTER_NUMBER": 102, "VALUE_TYPE": "BIT0LOW", "UOM": "dimensionless"}},

        {"INJECTION_MIN_TIME_ON":                       {"REGISTER_NUMBER": 532, "VALUE_TYPE": "INT32", "UOM": "ms"}},
        {"INJECTION_MAX_TIME_ON":                       {"REGISTER_NUMBER": 524, "VALUE_TYPE": "INT32", "UOM": "ms"}},
        {"INJECTION_MAX_TIME_OFF":                      {"REGISTER_NUMBER": 524, "VALUE_TYPE": "INT32", "UOM": "ms"}},
        {"INJECTION_ALPHA_CONSTANT":                    {"REGISTER_NUMBER": 460, "VALUE_TYPE": "FLAOT32", "UOM": "dimensionless"}},

        {"CONTROL_MASS_THRESHOLD":                      {"REGISTER_NUMBER": 340, "VALUE_TYPE": "INT16", "UOM": "g"}},
        {"CONTROL_UPDATE_LEVEL_INJECTION_COUNT":        {"REGISTER_NUMBER": 341, "VALUE_TYPE": "INT16", "UOM": "count"}},
        {"CONTROL_ACTION_ERROR_THRESHOLD":              {"REGISTER_NUMBER": 342, "VALUE_TYPE": "INT16", "UOM": "percentage"}},

        {"CONTROL_UPDATE_ON_RECHARGE":                  {"REGISTER_NUMBER": 172, "VALUE_TYPE": "BIT0LOW", "UOM": "status"}},
        {"CONTROL_UPDATE_ON_MASS":                      {"REGISTER_NUMBER": 172, "VALUE_TYPE": "BIT0HIGH", "UOM": "status"}},
        {"CONTROL_UPDATE_ON_TEMPERATURE":               {"REGISTER_NUMBER": 173, "VALUE_TYPE": "BIT0LOW", "UOM": "status"}},
    
        {"DELTA_PRESSURE_RECHARGE_START":               {"REGISTER_NUMBER": 816, "VALUE_TYPE": "FLAOT32", "UOM": "bar"}},
        {"DELTA_PRESSURE_RECHARGE_STOP":                {"REGISTER_NUMBER": 818, "VALUE_TYPE": "FLAOT32", "UOM": "bar"}},

        {"LEVEL_STABILIZATION_TIME":                    {"REGISTER_NUMBER": 424, "VALUE_TYPE": "FLAOT32", "UOM": "s"}},
        {"LEVEL_MIN_RECHARGE":                          {"REGISTER_NUMBER": 8016, "VALUE_TYPE": "FLAOT32", "UOM": "mm"}},

        {"PUMP_SPEED_AUTO":                             {"REGISTER_NUMBER": 426, "VALUE_TYPE": "INT16", "UOM": "rpm"}},
        {"PUMP_SPEED_MANUAL":                           {"REGISTER_NUMBER": 427, "VALUE_TYPE": "INT16", "UOM": "rpm"}},
        {"PUMP_SPEED_ALIGNMENT":                        {"REGISTER_NUMBER": 428, "VALUE_TYPE": "INT16", "UOM": "rpm"}},
        {"PUMP_SPEED_RW":                               {"REGISTER_NUMBER": 429, "VALUE_TYPE": "INT16", "UOM": "rpm"}},

        {"TANK_ORIENTATION":                             {"REGISTER_NUMBER": 63, "VALUE_TYPE": "INT16", "UOM": "dimensionless"}},
        {"TANK_TOTAL_VOLUME":                            {"REGISTER_NUMBER": 936, "VALUE_TYPE": "FLAOT32", "UOM": "l"}},

        {"TANK_OFFSET":                                  {"REGISTER_NUMBER": 2044, "VALUE_TYPE": "FLAOT32", "UOM": "l"}},
        {"TANK_INNER_DIAMETER":                          {"REGISTER_NUMBER": 2052, "VALUE_TYPE": "FLAOT32", "UOM": "l"}},
        {"TANK_TOTAL_LENGTH":                            {"REGISTER_NUMBER": 2060, "VALUE_TYPE": "FLAOT32", "UOM": "l"}},
        {"TANK_PLATING_LENGTH":                          {"REGISTER_NUMBER": 2068, "VALUE_TYPE": "FLAOT32", "UOM": "l"}},
        {"TANK_SHELL_LENGTH":                            {"REGISTER_NUMBER": 2076, "VALUE_TYPE": "FLAOT32", "UOM": "l"}},
        {"TANK_SHELL_RADIUS":                            {"REGISTER_NUMBER": 2084, "VALUE_TYPE": "FLAOT32", "UOM": "l"}}
    ]
}