{
    "MODBUS_IP":					  "10.16.217.1",
    "MODBUS_PORT":					  666,
    "R_SAMPLING_TIME_MS":             1000,
    "W_SAMPLING_TIME_MS":             60000,
    "MAX_ATTEMPTS":                   3,
    "ENDIAN_BYTEORDER":               "Big",
    "ENDIAN_WORDORDER":               "Big",
    "MODBUS_MEASUREMENTS": [
        {"MASSFLOW": {"REGISTER_NUMBER": 212, "VALUE_TYPE": "FLOAT32", "UOM": "sm3/h"}},
        {"ODORANT_SETPOINT": {"REGISTER_NUMBER": 444, "VALUE_TYPE": "FLOAT32", "UOM": "mg/sm3"}},
        {"ODORANT_TOTAL": {"REGISTER_NUMBER": 508, "VALUE_TYPE": "FLOAT32", "UOM": "g", "SCALE": 0.001, "SKIP_THRESHOLD": 1}},
        {"ODORIZATION_STATUS": {"REGISTER_NUMBER": 100, "VALUE_TYPE": "INT16", "UOM": "status"}},
        {"TANK_LEVEL_mm": {"REGISTER_NUMBER": 896, "VALUE_TYPE": "FLOAT32", "UOM": "mm"}},
        {"TANK_LEVEL_L": {"REGISTER_NUMBER": 904, "VALUE_TYPE": "FLOAT32", "UOM": "L"}},
        {"TANK_LEVEL_perc": {"REGISTER_NUMBER": 912, "VALUE_TYPE": "FLOAT32", "UOM": "percentage"}},
        {"HIGH_PRESSURE_LEVEL": {"REGISTER_NUMBER": 2224, "VALUE_TYPE": "FLOAT32", "UOM": "mm", "SKIP_THRESHOLD": 0.5}},
        {"PRESSURE_UPSTREAM_PUMP": {"REGISTER_NUMBER": 2200, "VALUE_TYPE": "FLOAT32", "UOM": "bar", "SKIP_THRESHOLD": 0.01}},
	{"PRESSURE_DOWNSTREAM_PUMP": {"REGISTER_NUMBER": 2216, "VALUE_TYPE": "FLOAT32", "UOM": "bar", "SKIP_THRESHOLD": 0.01}},
        {"PRESSURE_PUMP_DELTA": {"REGISTER_NUMBER": 808, "VALUE_TYPE": "FLOAT32", "UOM": "bar", "SKIP_THRESHOLD": 0.01}},
        {"PRESSURE_DOWNSTREAM_INJECTOR": {"REGISTER_NUMBER": 2232, "VALUE_TYPE": "FLOAT32", "UOM": "bar", "SKIP_THRESHOLD": 0.01}},
        {"N_OF_INJECTIONS": {"REGISTER_NUMBER": 516, "VALUE_TYPE": "INT16", "UOM": "num_inj", "SKIP_THRESHOLD": 0.5}},
        {"INJECTION_ACCURACY": {"REGISTER_NUMBER": 8264, "VALUE_TYPE": "FLOAT32", "UOM": "percentage", "SKIP_THRESHOLD": 0.5}},
	{"SPEED_MASS_SERB_RIC_SM3_H": {"REGISTER_NUMBER": 8352, "VALUE_TYPE": "FLOAT32", "UOM": "mg/sm3", "SKIP_THRESHOLD": 0.0000001}}
    ]
}
