{
    "MODBUS_PORT":					  "/dev/ttyUSB0",
    "MAX_ATTEMPTS":                   3,
    "ENDIAN_BYTEORDER":               "Big",
    "ENDIAN_WORDORDER":               "Big",
    "MODBUS_BAUDRATE":                19200,
    "MODBUS_ID":                      255,
    "MODBUS_STOPBITS":                1,
    "MODBUS_MEASUREMENTS": 
        [
            {
                "R_SAMPLING_TIME_MS": 10000,
                "MEASUREMENTS":
                [
                    {"CorrenteIngresso": {"REGISTER_NUMBER": 0, "REGISTER_TYPE": "HOLDING", "VALUE_TYPE": "INT16", "UOM": "microA"}}
                ]
            }
        ]
}
