{
    "SERIAL_PORT":		      "/dev/ttyUSB1",
    "SERIAL_BAUDRATE":                19200,
    "SERIAL_BYTESIZE":                7,
    "SERIAL_PARITY":                  "O",
    "SERIAL_STOPBITS":                1,
    "SERIAL_XONXOFF":                 "True",
    "SERIAL_TIMEOUT":                 1,
    "MAX_ATTEMPTS":                   3,
    "SAMPLING_TIME":                  5000
}
